<!--<div>-->
<!--  <input type = "text" [(ngModel)]="todo.taskname">-->
<!--  <input type = "checkbox" [(ngModel)]="todo.completed">-->
<!--</div>-->

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h4>{{todo.taskname}}</h4>
<!--      <input type = "text" [(ngModel)]="todo.taskname">-->
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
<!--    <input type = "text" [(ngModel)]="todo.description">-->
    <p>{{todo.description}}</p>
<!--    <input type = "checkbox" [(ngModel)]="todo.completed">-->
    <button (click)="openPopUp(todo)">
      Edit
    </button>
    <button (click)="deleteTodo(todo)">
      Delete
    </button>
  </mat-card-content>
</mat-card>
