nav {
  background-color: #abb1c9;
  color: #fff;
  display: flex;
  padding: 0 16px;
  align-items: center;
  height: 56px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

nav.bottom {
  position:sticky;
  width:100%;
  bottom:0px;
}

nav.top {
  position: sticky;
  top: 0;
  width: 100%;
}

a {
  padding: 0 16px;
}

a:hover {
  background-color: #717a9b;
}

h1 {
  font: 500 32px/40px Roboto, "Helvetica Neue", sans-serif;
}
